html {
    position: relative;
}

html::before {
    content: '';
    background: url(images/bgimage2.jpeg) no-repeat center fixed;
    background-size: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(3px);
}

body {
    padding-top: 8%;
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 6%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 1%;
}

#logo {
    height: 9rem;
}

.message {
    font-size: 3.5rem;
    margin-left: 3%;
    text-align: center;
    font-weight: 500;   
    text-shadow: 1px 1px skyblue;
    color: #1167b1;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#master-heading {
    text-decoration: underline;
    padding: 5% 0%;
}

.heading-text {
    text-align: center;
    font-weight: 500;   
    text-shadow: 1px 1px skyblue;
    color: #1167b1;
}

.data {
    width: 80%;
}

.tab {
    padding-right: 5%;
}

@media (max-width: 900px) {
    body {
        padding-top: 10%;
    }
}
@media (max-width: 690px) {
    body {
        padding-top: 20%;
    }
}
@media (max-width: 565px) {
    body {
        padding-top: 25%;
    }
}